<div class="container mx-auto md:w-2/3 w-full mt-10 p-5 bg-blue-400 text-white shadow-lg rounded-lg">
  <div class="mx-auto">
    <%= form_with model: @user, url: profile_path, method: :put, local: true, html: { class: "space-y-4" } do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(@user.errors.count, "error") %> プロフィールを更新できませんでした:</h2>
        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
      <div>
        <%= f.label :nickname, class: "block font-medium" %>
        <%= f.text_field :nickname, class: "w-full p-2 rounded-lg bg-white text-blue-400" %>
      </div>

      <div>
        <%= f.label :email, class: "block font-medium" %>
        <%= f.email_field :email, class: "w-full p-2 rounded-lg bg-white text-blue-400" %>
      </div>

      <div>
        <%= f.label :avatar %>
        <%= f.file_field :avatar, class: "w-full p-2 rounded-lg bg-white text-blue-400" %>
        <%= f.hidden_field :avatar_cache %>
      </div>

      <div>
        <!-- <%= image_tag current_user.avatar.url, class: "mt-10 mx-auto h-32 w-32 object-cover rounded-full" %> -->
        <%= cl_image_tag(current_user.avatar.filename, height: 140, width: 140, crop: "scale", class: "mt-10 mx-auto rounded-full object-cover") %>
      </div>

      <%= f.submit "更新", class: "rounded-lg py-2 px-4 bg-teal-200 text-teal-900 font-medium hover:bg-teal-300 transition-colors" %>
    <% end %>
  </div>

  <%= link_to posts_path, class: "mt-10 rounded-lg py-2 px-4 bg-teal-200 text-teal-900 inline-block font-medium hover:bg-teal-300 transition-colors" do %>
    <i class="fa-solid fa-backward"></i>
  <% end %>
</div>
