<div class="container mx-auto md:w-2/3 w-full mt-10 p-5 bg-blue-400 text-white shadow-lg rounded-lg">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-teal-200 mb-5 text-teal-900 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
  </div>
  <%= link_to '編集', edit_profile_path, class: "mb-5  rounded-lg py-2 px-4 bg-teal-200 text-teal-900 inline-block font-medium hover:bg-teal-300 transition-colors" %>
  <%= link_to 'マイリスト', bookmarks_posts_path, class: "mb-5  rounded-lg py-2 px-4 bg-teal-200 text-teal-900 inline-block font-medium hover:bg-teal-300 transition-colors" %>
  <div class="mb-5">
    <p class="font-semibold">Nickname</p>
    <p class="bg-white text-blue-400 p-2 rounded-lg"><%= current_user.nickname %></p>
  </div>

  <div>
    <p class="font-semibold">Email</p>
    <p class="bg-white text-blue-400 p-2 rounded-lg"><%= current_user.email %></p>
  </div>

  <div>
    <!-- <%= image_tag current_user.avatar.url, class: "mt-10 mx-auto h-32 w-32 object-cover rounded-full" %> -->
    <%= cl_image_tag(current_user.avatar.filename, height: 140, width: 140, crop: "scale", class: "mt-10 mx-auto rounded-full object-cover") %>
  </div>

  <%= link_to "◀️", posts_path, class: "mt-10 rounded-lg py-2 px-4 bg-teal-200 text-teal-900 inline-block font-medium hover:bg-teal-300 transition-colors" %>
</div>
