<%= form_with(model: user, class: "contents") do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><% pluralize(user.errors.count, "error") %> ユーザ作成に失敗しました</h2>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.label :nickname %>
    <%= form.text_field :nickname, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :email %>
    <%= form.text_field :email, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", id: "emailField" %>
  </div>

  <div>
    <h1 class="text-blue-900 text-sm"><確認用> 以下のアドレスでお間違いありませんか？</h1>
    <h1 class="text-xl text-blue-900 text-bold mb-10" id="confirmEmail"></h1>
  </div>

  <div class="my-5">
    <%= form.label :password %>
    <%= form.password_field :password, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="inline">
    <%= form.submit 'Sign UP', class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
  <div class="mt-3">
    <p>アカウント開設により、 <%= link_to '利用規約', terms_of_use_path, class: 'text-gray-400 border-b border-b-black' %> 、<%= link_to 'プライバシーポリシー', privacy_policy_path, class: 'text-gray-400 border-b border-b-black' %> に同意したこととなります。</p>
  </div>
<% end %>
