<div id="<%= dom_id post %>" class="border-solid border-2 p-2 rounded-lg bg-white">
  <p class="my-5 text-center break-words">
    <!-- <strong class="block font-medium mb-1">Title:</strong> -->
    <%= post.title %>
  </p>
  <hr class="mt-6">
  <p class="text-sm my-5 break-words">
    <!-- <strong class="block font-medium mb-1">Description:</strong> -->
    <%= post.description %>
  </p>

  <p class="my-5">
    <!-- <strong class="block font-medium mb-1">Image:</strong> -->
    <%= cl_image_tag(post.image.filename, :height=>900, :width=>1600, :crop=>"scale"
    ) %>

  </p>

  <p class="my-5 break-words">
    <!-- <strong class="block font-medium mb-1">Tag:</strong> -->
    <% if post.tags.present? %>
      <div class="mb-2">
        <%= render 'posts/tag', post: post %>
      </div>

    <% end %>
</p>

  <% if action_name != 'show' %>
    <%= link_to "Show", post, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <% end %>
  <% if current_user.own?(post) && action_name != 'show' %>
    <%= link_to "Edit", edit_post_path(post), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
  <% end %>

</div>
