<!-- metatag -->
<% content_for :meta_tags do %>
  <% set_meta_tags title: @post.title,
                    description: @post.description,
                    og: {
                      title: @post.title,
                      description: @post.description,
                      url: request.original_url,
                      image: @post.image_url
                        },
                    twitter: {
                      card: 'summary_large_image', # Twitterで表示する場合は大きいカードにする
                      site: '@', # アプリの公式Twitterアカウントがあれば、アカウント名を書く
                      image: @post.image_url # 配置するパスやファイル名によって変更すること
                    }
  %>
<% end %>

<!-- ここまで -->

<div class="container mx-auto md:w-2/3 w-full mt-10 p-5">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <%= render @post %>
  </div>
  <% if logged_in? && current_user.own?(@post) %>
      <%= link_to "◀️", posts_path, class: "ml-2 rounded-full py-3 px-5 bg-gray-100 inline-block font-medium mt-10 mr-2" %>
      <%= link_to edit_post_path(@post), class: "mt-2 py-3 px-5 inline-block font-medium hover:text-blue-500" do %>
        <i class="fa-solid fa-paintbrush"></i>
      <% end %>
      <div class="inline-block ml-2">
        <%= button_to post_path(@post), data: { turbo_method: :delete, turbo_confirm: '削除しますか?' }, class: 'mt-2 py-3 px-5 font-medium hover:text-blue-500', method: :delete do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>
      </div>
      <%= link_to "https://twitter.com/share?url=#{post_url(@post)}&text=【#{@post.title}をOrceanizeに投稿しました】%0a%0a", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア",class: "mt-2 py-3 px-5 inline-block font-medium hover:text-blue-500" do %>
        <div class="flex items-center">
          <i class="fa-brands fa-x-twitter"></i>
          <p class="italic ml-1">Share</p>
        </div>
      <% end %>
  <% else %>
      <%= link_to "◀️", posts_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium mt-10" %>
  <% end %>
</div>
