<div class="mx-auto md:w-2/3 w-full mt-10 px-10">
  <div class="container col-md-10 col-lg-8 mx-auto">
    <h1 class="font-bold text-4xl mb-10">Sign IN</h1>
    <%= form_with url: login_path do |f| %>
      <div class="mb-3">
        <%= f.label :email %>
        <%= f.email_field :email, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 mb-10 w-full" %>
      </div>
      <div class="mb-3">
        <%= f.label :password %>
        <%= f.password_field :password, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 mb-5 w-full" %>
      </div>
      <%= f.submit "Sign-IN", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer mt-2" %>
    <% end %>
  </div>
</div>
